body {
    background-color: white;
}

h1,h2,h3,h4,h5 {
    color: white;
    text-align: center;
    text-decoration: none;
    display: flex;

}
h1:hover{
    text-decoration: underline;
    color: bisque;
}

h2:hover{
    text-decoration: underline;
    color: bisque;
}

h3:hover{
    text-decoration: underline;
    color: bisque;
}

h4:hover{
    text-decoration: underline;
    color: bisque;
}

h5:hover{
    text-decoration: underline;
    color: bisque;
}

p{
    color: aqua;
    text-decoration: none;
}

p:hover{
    color: aquamarine;
}

img {
    width: 500px;
    height: 500px;
    margin-left: 150px;
}

section{
    padding: 20px;
    margin: 20px;
    background-color: #1a1a1a;
    border: 1px solid #980707;
    border-radius: 8px;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

